@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0b132b; /* brand-navy */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-navy: #0b132b;
  --color-brand-blue: #0ea5e9;
  --color-brand-sky: #00a3ff;
  --color-brand-gray-soft: #94a3b8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.bg-grid-pattern {
  background-image: 
    linear-gradient(to right, #f1f5f9 1px, transparent 1px),
    linear-gradient(to bottom, #f1f5f9 1px, transparent 1px);
  background-size: 60px 60px;
}
